image: juampynr/drupal8ci:latest
variables:
  XDEBUG_MODE: coverage
pipelines:
  default:
    - parallel:
        # - step:
        #     name: Coding Standards
        #     script:
        #       - robo job:build
        #       - vendor/bin/robo job:coding-standards
        - step:
            name: Unit test
            services:
              - mariadb
            script:
              # - sleep 30 # Wait for DB service to start.
              - robo job:build
              - vendor/bin/robo job:unit-tests
        # - step:
        #     name: Code coverage
        #     services:
        #       - mariadb
        #     script:
        #       # - sleep 30 # Wait for DB service to start.
        #       - robo job:build
        #       - vendor/bin/robo job:coverage-report

definitions:
  services:
    mariadb:
      image: mariadb:latest
      variables:
        MYSQL_ROOT_PASSWORD: root
